<!-- <button (click)="print()"> Print pdf from blob </button> -->

<div class="my-dialog"
     *ngIf="openPdfjs">

  <mat-icon (click)="toogleDialog()">close</mat-icon>
  <iframe src="/assets/viewer/web/viewer.html?file=http://localhost:3000/pdf/attachment"
          width="{{screen.width - 70}}"
          height="{{screen.height}}">
  </iframe>
</div>


<br>
<br>
<br>
<a href="http://localhost:3000/pdf/inline">Open PDF inline </a>
<br>
<br>
<br>
<a href="http://localhost:3000/pdf/attachment">Open PDF attachment </a>
<br>
<br>
<br>
<a href="javascript:void(0)" (click)="toogleDialog()"> Open pdf.js dialog </a>
