<!-- <button (click)="print()"> Print pdf from blob </button> -->

<div class="my-dialog"
     *ngIf="isOpen['js-pdf']">

  <mat-icon (click)="toogleDialog('js-pdf')">close</mat-icon>
  <iframe src="/assets/viewer/web/viewer.html?file=http://localhost:3000/pdf/attachment"
          width="{{screen.width - 70}}"
          height="{{screen.height}}">
  </iframe>
</div>

<div class="my-dialog"
     *ngIf="isOpen['ms-word']">

  <mat-icon (click)="toogleDialog('ms-word')">close</mat-icon>
  asdasd
  <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=http://localhost:3000/word/attachment'
          width="{{screen.width - 70}}"
          height="{{screen.height}}"
          frameborder='0'>This is an embedded
    <a target='_blank'
       href='http://office.com'>Microsoft Office</a> document, powered by
    <a target='_blank'
       href='http://office.com/webapps'>Office Online</a>.</iframe>
</div>


<div class="my-dialog"
     *ngIf="isOpen['gtech-ms-word']">

  <mat-icon (click)="toogleDialog('gtech-ms-word')">close</mat-icon>
  https://nofile.io/f/b8jrhSQN3RR/word.docx
  <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=https://nofile.io/g/JT6r1yeJV6vp4vRH7bVNYQIQjYyqCslhUz2fDUGYqjmnOU3sEJeZpe6BPOtoggtL/word.docx/'
          width="{{screen.width - 70}}"
          height="{{screen.height}}"
          frameborder='0'>This is an embedded
    <a target='_blank'
       href='http://office.com'>Microsoft Office</a> document, powered by
    <a target='_blank'
       href='http://office.com/webapps'>Office Online</a>.</iframe>
</div>




<div class="my-dialog"
     *ngIf="isOpen['google']">

  <mat-icon (click)="toogleDialog('google')">close</mat-icon>
  asdasd
  <iframe src='https://docs.google.com/gview?url=http://localhost:3000/word/attachment&embedded=true'
          width="{{screen.width - 70}}"
          height="{{screen.height}}"
          ></iframe>
</div>





<a href="http://localhost:3000/pdf/inline">Open PDF inline </a>
<a href="http://localhost:3000/pdf/attachment">Open PDF attachment </a>
<a href="http://localhost:3000/word/inline">Open word inline </a>
<a href="http://localhost:3000/word/attachment">Open word attachment </a>

<hr>

<a href="javascript:void(0)"
   (click)="toogleDialog('js-pdf')"> Open pdf.js dialog </a>
<a href="javascript:void(0)"
   (click)="toogleDialog('ms-word')">Open Word online dialog (localhost) </a>
   <a href="javascript:void(0)"
   (click)="toogleDialog('gtech-ms-word')">Open Word online dialog (gtech ondrive) </a>


   <a href="javascript:void(0)"
   (click)="toogleDialog('google')">Open Google dialog </a>



