

.my-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;

}


.my-dialog mat-icon {
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
}


a {
  display: block;
}
